<h1><%= @patient.name %></h1>
<h2>Appointments</h2>
<ul>
<% @appointments.each do |appointment| %>
    <li><%= appointment.format_datetime %> - <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></li>
<% end %>
</ul>