<h1>Appointment</h1>
<p>Patient: <%= link_to @patient.name, patient_path(@patient) %></p>
<p>Doctor: <%= link_to @doctor.name, doctor_path(@doctor) %></p>
<p>Date/Time: <%= @appointment.format_datetime %></p>

